<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <h1><%= title %></h1>
  <div class="navbar">
    <p>
      <a href="/">Home</a>
      <a href="/fibonacci">Fibonacci's numbers</a>
    </p>
  </div>
